<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>

    <title>Buy Part | Shop</title>
    <base href="/bucket"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/x-icon" href="/bucket/assets/favicon.ico"/>
    <link rel="manifest" href="manifest.webmanifest"/>

    <script>
      const APP_GLOBALS = {
        buypart_loaded: false,
      };
    </script>

    <style>
      /*       
      #screens{
        margin: 0;
        padding: 0;
        position: fixed;
        top:0;
        left:0;
        z-index: 2;
        opacity: .5;
      }

      #screens img{
        position: absolute;
        margin: 0;
        padding: 0;
        top:0;
        left:0;
      }

      buypart-root{
        position: relative;
        z-index: 2;
      } */
    </style>
  <link rel="stylesheet" href="/bucket/assets/project-buypart.ec06cddb04167da756c9.css"><link rel="stylesheet" href="/bucket/assets/theme-buypart.09bf657432e10501df5b.css"></head>
  <body>
    <div class="blur-bg">
      <span class="bg-span"></span>
    </div>
  
    <!-- <div id="screens">
      <img src="libs/theme/assets/screens/1366x768-100.jpg" alt="">
    </div> -->
    <buypart-root></buypart-root>
    <noscript>Please enable JavaScript to continue using this application.</noscript>
  <script src="/bucket/assets/runtime.4190fd796d304ef2b5e2.js" defer></script><script src="/bucket/assets/polyfills.b537757174d3d2fd94dc.js" defer></script><script src="/bucket/assets/main.93be68586e13f5e67b0e.js" defer></script></body>
</html>

<!--screens
"X:\workflow\buypart\buypart-app\libs\theme\assets\screens\375x1072.jpg"
"X:\workflow\buypart\buypart-app\libs\theme\assets\screens\768x1366.jpg"
"X:\workflow\buypart\buypart-app\libs\theme\assets\screens\1024x768.jpg"
"X:\workflow\buypart\buypart-app\libs\theme\assets\screens\1366x768-100.jpg"

-->
