<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login Form</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Gateway Login</h1>
      <form method="post" action="/auth">
        <p><input type="text" name="username" value="" placeholder="Username"></p>
        <p><input type="password" name="password" value="" placeholder="Password"></p>
        <p class="submit"><input type="submit" name="commit_web_reauth" value="Login"></p>
      </form>
    </div>
  </section>


</body>
</html>
