<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register Account</title>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
  <section class="container">
    <div class="login">
      <h1>Register Account</h1>
      <form method="post" action="/signup">
        <p><input type="text" name="username" value="" placeholder="New username"></p>
        <p><input type="password" name="password" value="" placeholder="New Password"></p>
      
        <p class="submit"><input type="submit" name="commit_web_login" value="Register"></p>
      </form>
    </div>

    <!--
    <div class="login-help">
      <p>Forgot your password? <a href="index.html">Click here to reset it</a>.</p>
    </div>
    -->
  </section>


</body>
</html>
